.message-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 88.6vh;
    width: 100%;
}

.messages {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    
    &_heading {
        font-size: 3rem;
        color: $color-gray-dark;
        text-align: center;
    }
}

.conversation {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 2rem;
    padding: 2rem;
    background-color: $color-white-soft;

    &_img {
        width: 8rem;
        border-radius: 50%;
    }

    &_name {
        font-size: 2rem;
        color: $color-gray-dark;
        margin-left: 1rem;
    }
}

.conversations {
    border-right:2px solid $color-gray-dark;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

// .message {

// }