.player {
    &-button {
        width: 5.5rem;
        height: 5.5rem;
        background-color: $color-gray-dark;
        border-radius: 50%;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, rgba($color-white,.3) 100%,rgba($color-gray-dark,5));
    }

    &-buttons {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,150%);

    }

    &-play {
        position: relative;
        display: inline-block;

    }

    &-stop {
        position: relative;
        display: inline-block;
    }

    &-volume {
        position: relative;
        display: inline-block;

        &:hover .volume_container { 
            width: 20rem;
            
        }
        &:hover .volume_slider-con {
            opacity: 1;
        }
    }

    &-icon {
        @include block-center;
        font-size: 3rem;
        color: $color-white;
    }

    &-duration {
        font-size: 2rem;
        position: absolute;
        bottom: 3rem;
        color: $color-white;
        left: 2rem;
    }

    &-time {
        position: absolute;
        bottom: 0;
        width: 0%;
        border-radius: .5rem;
        height: 4px;
        background-color: $color-secondary;
    }
}

.volume {

    &_container {
        position: absolute;
        bottom: 0;
        border-radius: 3%;
        height: 100%;
        width: 0;
        z-index: -1;
        background-color: $color-gray-dark;
        transition: all .2s;
    }

    &_slider {
       
        position: relative;
        width: 50%;
        height: 1rem;
        background-color: $color-secondary;

        &-con {
            height: 1rem;
            width: 12rem;
            position: relative;
            z-index: 5;
            background-color: $color-white;
            margin-top: 2.5rem;
            margin-left: 6rem;
            transition: opacity .15s;
            opacity: 0;

        }
    }

    &_knob {
        position: absolute;
        z-index: 6;
        right: 0;
        bottom: 50%;
        transform: translate(65%,50%);
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        transition: all .3s;
        background-color: $color-secondary ;
        @include box-shadow-large;
    }

}


