.upload-section {
    padding: 5rem 0;
    background-color: $color-white;
}


.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15rem 0;


    &_producer {
        clip-path: polygon(0 10%,100% 0,100% 90%,0 100%);
        background-color: $color-secondary;

        &-title {
            color: #ebe4e4;
        }

        &-text {
            color: #dfdcdb;
        }

        &-btn {
            color: #ebe4e4;
            border-bottom: 2px solid #ebe4e4;
            width: 40%;
            padding: 1.5rem 1rem 1.5rem 1.5rem; 

            
        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: $color-gray-dark;
        }

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            transition: all .3s;
            background-color: #ebe4e4;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
        }
        }

    }

    &_musician {

        &-title {
            color: $color-gray-dark;
        }

        &-btn {
            color: $color-gray-dark;
            float: right;
            border-bottom: 2px solid $color-gray-dark;
            padding: 1.5rem 1.5rem 1.5rem 2rem;
            width: 30%;
            z-index: 1;
                     
        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: $color-white;
            border-bottom: 2px solid $color-secondary;
        }

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            transition: all .3s;
            background-color: $color-secondary;
            top: 0;
            right: 0;
            height: 100%;
            width: 0;
        }

        }

    }


    &_heading {
        display: block;
        margin : auto;
        width: 90%;

        &-title {
            font-size: 6rem;
            margin-bottom: 4.5rem;
            letter-spacing: .3rem;
            @include text-shadow-small;
        }

        &-text {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    &_btn {
        display: block;
        text-decoration: none;
        font-size: 2.5rem;
        margin-top: 4rem;
        position: relative;
        transition: all .3s;
    }

    &_image {
        display: block;
        margin: 0 auto;
        width: 55%;
        border-radius: .4rem;
        @include box-shadow-medium;
    }
    
}